
//font
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Handlee&display=swap');

//colors
$font-stack: 'Handlee', cursive;
$primary-color: #000000;
$secondary-color: #B8E2ED;
$tertiary-color:  #1B98FC;
$background-color: linear-gradient(#141e30, #243b55)


