@import "config";
@import "media-queries";


%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    background-image: url('../assets/backdropv5.png');
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;

    @include mobile {
        height: auto;
        width: auto;
    }
}

form {
        background: #55acf3;
        padding: 1.5em;
        border-radius: 1em;
        width: 30%;
        margin: auto;
        width: auto;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        border-radius: 10px;
        grid-template-columns: 1fr 1fr;
        @extend %align-center;
}


.btn {
    display: flex;
    color: $tertiary-color;
    background-color: $secondary-color;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    margin-left: 40px;
    object-fit: cover;
    object-position: bottom;
    text-align: right;


    &:hover {
        color: $tertiary-color;
        transition: all 0.3s ease;
        background-color: white;

    }

    @include mobile {
        height: auto;
        width: auto;
    }
}