.dashboard{
    display: flex;
    justify-content: space-between;
  }
  
  .dashboard .swipe-container{
    width: 70%;
    display: flow-root;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .swipe {
    position: absolute;
    z-index: 1;
  }
  
  .dashboard .card-container {
    position: relative;
    width: 450px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-container .card {
    position: relative;
    left: 40px;
    top: 40px;
    background: linear-gradient( grey, white);
    width: 400px;
    height: 650px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  .card-container .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
    transform-origin: top;
    overflow: hidden;
    border-radius: 20px;
    /* display:none */
  }
  .card-container .card:hover .imgBx {

    transform: translateY(30px) scale(0.5);
    margin-top: 20px;
  }
  .card-container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.card-container .card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 60px;
  margin-left: 120px;
}

.card-container .card .content .details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
}
.card-none {
  display:none;
}
.details h3 {
  color: black;
  font-size: 1.2em;
  font-weight: 500;
  background: linear-gradient(45deg, #1B98FC, #B8E2ED);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  position: relative;

  left: 10px;
}

.social_icons {
  position: relative;
  display: flex;
  margin-top: 5px;
  margin-right: 130px;
}

.social_icons li {
  list-style: none;
  margin-left: 20px;
  
}

.social_icons p {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgb(70, 116, 128);
  border-radius: 50%;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  position: relative;
  top: 40px;
}

.social_icons p:hover {
  transform: rotate(360deg);
}

.card-container .card .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card-container .card .title h3 {
  border-radius: 10px;
  background: linear-gradient(45deg, #1B98FC, #B8E2ED);
  color: Black;
  font-size: 1.2em;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}
  .dashboard .swipe-info{
    position: absolute;
    bottom: 0;
    padding: 160px;
  }


.chat-container {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 30%;
    text-align: left;
    z-index: 0;
    margin: 10px;
}

.chat-container .chat-container-head {
    background: linear-gradient(45deg, #1B98FC, #B8E2ED);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-container  .option{
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 4px #1B98FC;
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}
.matches-container{
  background: linear-gradient( grey, white);
    margin-top: 20px;
    color: black;
    font-weight: 500;
}
.matches-container p{
  height: 30px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 20px;
}
.chat-container .option:disabled {
    border-bottom: solid 4px rgb(187, 187, 187);
}

.chat-container .profile,
.chat-container .log-out {
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}
.chat-container {
  height: 90vh;
  border-radius: 10px;
}

.pfp-container {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.pfp-container img {
    width: 100%;
}

/*-------- Chat Display --------*/
.chat-display,
.matches-display {
    padding: 20px;
    height: 60vh;
    overflow-y: auto;
    
}

/*-------- Chat Input --------*/
.chat-input {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 600px;
    position: relative;
    bottom: 60px;
}


.chat{
    stroke: aquamarine;
}


.form-text-box {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  padding-left: 20px;
}

.form-text-title {
  color: black;
}

.form-button{
  position: relative;
  right: 15px;
}


.edit_profile {
  background-image: url('../assets/Form-Background.png');
  display: block;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}