@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Handlee&display=swap");
.edit_profile .main__form, .main__login, .main__form, .nav__logo {
  display: flex;
  align-items: center;
}

.nav {
  background: #1B98FC;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}
.nav__login {
  display: flex;
  color: #1B98FC;
  background-color: #B8E2ED;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  width: 70px;
  object-fit: cover;
  object-position: bottom;
  text-align: right;
}
.nav__login:hover {
  color: #1B98FC;
  transition: all 0.3s ease;
  background-color: white;
}
.nav__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 25px;
  height: 150px;
  width: 150px;
}
@media screen and (max-width: 280px) {
  .nav__logo {
    height: auto;
    width: auto;
  }
}
.nav__signup {
  display: block;
  color: #1B98FC;
  background-color: #B8E2ED;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: bottom;
}
.nav__signup:hover {
  color: #1B98FC;
  transition: all 0.3s ease;
  background-color: white;
}
@media screen and (max-width: 280px) {
  .nav__signup {
    height: auto;
    width: auto;
  }
}

.menu {
  color: white;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu__bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  width: 20%;
}
.menu .settingsBar {
  width: 20%;
}
.menu .settings-menu {
  width: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.menu .settings-menu-active {
  display: flex;
  left: 0;
  transition: 350ms;
  width: 50px;
}
.menu .settings-menu .settings-menu-items {
  width: 100%;
}
.menu .settings-menu .settings-bar-toggle {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu .settings-menu .settings-bar-toggle span {
  margin-left: 16px;
}
@media screen and (max-width: 280px) {
  .menu .settings-menu .settings-bar-toggle {
    height: auto;
    width: auto;
  }
}

.fanterlogo {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 280px) {
  .fanterlogo {
    height: auto;
    width: auto;
  }
}

.edit_profile .main__form, .main__login, .main__form, .nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign_up {
  background-image: url("../assets/backdropv5.png");
  display: block;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 280px) {
  .sign_up {
    height: auto;
    width: auto;
  }
}

.main {
  width: 100%;
  height: 100vh;
}
.main__back {
  display: flex;
  color: #1B98FC;
  background-color: #B8E2ED;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  margin-left: 1150px;
  object-fit: cover;
  object-position: bottom;
  text-align: center;
}
.main__back:hover {
  color: #1B98FC;
  transition: all 0.3s ease;
  background-color: white;
}
@media screen and (max-width: 280px) {
  .main__back:hover {
    height: auto;
    width: auto;
  }
}
.main__form {
  background: #55acf3;
  padding: 1.5em;
  border-radius: 1em;
  margin: auto;
  width: 30%;
  height: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 280px) {
  .main__form {
    height: auto;
    width: auto;
  }
}
.main__row {
  align-self: center;
}
.main .btn {
  display: flex;
  color: #1B98FC;
  background-color: #B8E2ED;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  margin-left: 40px;
  object-fit: cover;
  object-position: bottom;
  text-align: right;
}
.main .btn:hover {
  color: #1B98FC;
  transition: all 0.3s ease;
  background-color: white;
}
@media screen and (max-width: 280px) {
  .main .btn {
    height: auto;
    width: auto;
  }
}

.edit_profile .main__form, .main__login, .nav__logo, .main__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  background-image: url("../assets/backdropv5.png");
  display: block;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 280px) {
  .bg {
    height: auto;
    width: auto;
  }
}

.main__login {
  background: #55acf3;
  padding: 1.5em;
  border-radius: 1em;
  width: 30%;
  margin: auto;
  margin-top: 10%;
  width: 500px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
}

.btn {
  display: flex;
  color: #1B98FC;
  background-color: #B8E2ED;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  margin-left: 40px;
  object-fit: cover;
  object-position: bottom;
  text-align: right;
}
.btn:hover {
  color: #1B98FC;
  transition: all 0.3s ease;
  background-color: white;
}
@media screen and (max-width: 280px) {
  .btn {
    height: auto;
    width: auto;
  }
}

.edit_profile .main__form, .nav__logo, .main__form, .main__login {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 280px) {
  .edit_profile {
    height: auto;
    width: auto;
  }
}
.edit_profile .main {
  width: 100%;
  height: 100vh;
}
.edit_profile .main__back {
  display: flex;
  color: #1B98FC;
  background-color: #B8E2ED;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  margin-left: 1150px;
  object-fit: cover;
  object-position: bottom;
  text-align: center;
}
.edit_profile .main__back:hover {
  color: #1B98FC;
  transition: all 0.3s ease;
  background-color: white;
}
@media screen and (max-width: 280px) {
  .edit_profile .main__back:hover {
    height: auto;
    width: auto;
  }
}
.edit_profile .main__form {
  background: #55acf3;
  padding: 1.5em;
  border-radius: 1em;
  margin: auto;
  width: 30%;
  height: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 280px) {
  .edit_profile .main__form {
    height: auto;
    width: auto;
  }
}
.edit_profile .main__row {
  align-self: center;
}
.edit_profile .main .btn {
  display: flex;
  color: #1B98FC;
  background-color: #B8E2ED;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  margin-left: 40px;
  object-fit: cover;
  object-position: bottom;
  text-align: right;
}
.edit_profile .main .btn:hover {
  color: #1B98FC;
  transition: all 0.3s ease;
  background-color: white;
}
@media screen and (max-width: 280px) {
  .edit_profile .main .btn {
    height: auto;
    width: auto;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Handlee", cursive;
}
@media screen and (max-width: 280px) {
  * {
    height: auto;
    width: auto;
  }
}

body {
  background-color: #000000;
  color: #B8E2ED;
}
@media screen and (max-width: 280px) {
  body {
    height: auto;
    width: auto;
  }
}

.backdrop {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  object-position: bottom;
}
@media screen and (max-width: 280px) {
  .backdrop {
    height: auto;
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
