nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .nav-button {
  color: rgb(75, 139, 218);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

nav .logo-container {
  width: 170px;
  margin: 15px;
}

nav .logo-container .logo {
  width: 100%;
  width: 200px;
  height: 110px;
  object-fit: cover;
  object-position: 0 42%;
}

backaground{
  background-color: black;
}